{% extends 'PressenterAgendaBundle::base.html.twig' %}
{% block maincontent %}
{{ form_start(search) }}
    {{ form_errors(search) }}

    <div>
        {{ form_errors(search.q) }}
        {{ form_widget(search.q) }}
    </div>

<input type="submit" />

{{ form_end(search) }}

    {% if result %}
    <table>
        <thead>
            <tr><th>#</th></tr>
        </thead>
        {% for r in result %}
        <tr>
            <td>{{r.id}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif%}
    
{% endblock %}

